.layout {
  padding: 0;
}

.container {
  padding: 20px;
  margin: 0 auto;
  min-height: 100vh !important;
  background: #fff;
  box-sizing: border-box;
  max-width: 1000px;
}

.loader {
  text-align: center !important;
  display: block !important;
  padding: 20px !important;
}

.ant-form.filter {
  margin: 0 0 20px 0;
}

.content {
  margin: 40px 0 0 0;
}
